.container {
	height: 100%;
	overflow: hidden;

	.row {
		height: -webkit-fill-available;

		& > div {
			display: inline-block;
		} 

		.col {
			height: inherit;
		}

		.col-1 {
			overflow: scroll;
			width: 15%;

			ul {
				padding: 0;
				list-style: none;

				img:nth-of-type(2n+1) {
					width: 100%;
				}

				img:nth-of-type(2n) {
					display: none;
					zoom: 0.75;
					position: absolute;
					top: 0;
					left: 16%;
				}

				@for $i from 1 through 11
				{
					img[src="images/#{$i}.jpg"]:hover + img {
						display: block;
					}
				}
			}
		}
		
		.col-2 {
			overflow: hidden;
			width: 84%;
		}
	}
}
