/* line 1, ../sass/style.scss */
.container {
  height: 100%;
  overflow: hidden;
}
/* line 5, ../sass/style.scss */
.container .row {
  height: -webkit-fill-available;
}
/* line 8, ../sass/style.scss */
.container .row > div {
  display: inline-block;
}
/* line 12, ../sass/style.scss */
.container .row .col {
  height: inherit;
}
/* line 16, ../sass/style.scss */
.container .row .col-1 {
  overflow: scroll;
  width: 15%;
}
/* line 20, ../sass/style.scss */
.container .row .col-1 ul {
  padding: 0;
  list-style: none;
}
/* line 24, ../sass/style.scss */
.container .row .col-1 ul img:nth-of-type(2n+1) {
  width: 100%;
}
/* line 28, ../sass/style.scss */
.container .row .col-1 ul img:nth-of-type(2n) {
  display: none;
  zoom: 0.75;
  position: absolute;
  top: 0;
  left: 16%;
}
/* line 38, ../sass/style.scss */
.container .row .col-1 ul img[src="images/1.jpg"]:hover + img {
  display: block;
}
/* line 38, ../sass/style.scss */
.container .row .col-1 ul img[src="images/2.jpg"]:hover + img {
  display: block;
}
/* line 38, ../sass/style.scss */
.container .row .col-1 ul img[src="images/3.jpg"]:hover + img {
  display: block;
}
/* line 38, ../sass/style.scss */
.container .row .col-1 ul img[src="images/4.jpg"]:hover + img {
  display: block;
}
/* line 38, ../sass/style.scss */
.container .row .col-1 ul img[src="images/5.jpg"]:hover + img {
  display: block;
}
/* line 38, ../sass/style.scss */
.container .row .col-1 ul img[src="images/6.jpg"]:hover + img {
  display: block;
}
/* line 38, ../sass/style.scss */
.container .row .col-1 ul img[src="images/7.jpg"]:hover + img {
  display: block;
}
/* line 38, ../sass/style.scss */
.container .row .col-1 ul img[src="images/8.jpg"]:hover + img {
  display: block;
}
/* line 38, ../sass/style.scss */
.container .row .col-1 ul img[src="images/9.jpg"]:hover + img {
  display: block;
}
/* line 38, ../sass/style.scss */
.container .row .col-1 ul img[src="images/10.jpg"]:hover + img {
  display: block;
}
/* line 38, ../sass/style.scss */
.container .row .col-1 ul img[src="images/11.jpg"]:hover + img {
  display: block;
}
/* line 45, ../sass/style.scss */
.container .row .col-2 {
  overflow: hidden;
  width: 84%;
}
