#table1 {
    border: 1px solid black;
}

.column-1 {
    display: inline-block;
    width: 30%;
}

.column-2 {
    padding: 100px 0;
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.hrefki {
    text-align: center;
}
body {
    font-family: Corbel, sans-serif;
    font-size: 1em;
}
 