#container {
	width: 1000px; /* Ширина макета */
	margin: 0 auto; /* Выравнивание по центру */
	/*border: 1px solid black;*/
   }
   #nav {
	width: 200px; /* Ширина левой колонки */
	float: left;
	/*border: 1px solid black;*/
   }
   #aside {
	width: 200px; /* Ширина правой колонки */
	float: right;
	/*border: 1px solid black;*/
   }
   #content {
	margin: 0 200px 0 200px; /* Отступ на ширину левой и правой колонки*/
	border: 1px solid grey;
	
	
   }
   li{
   list-style-type: none;
   left: 1px;
   }
 img {
	   width: 110px;
	   height: 50px;
   }
#content .image{
	display: inline-block;
	width: 20%;
	height: 50px;
	position: relative;
	bottom: 50px;
}
#content .contentText{
	display: inline-block;
	width: 70%;
}
#content .contentText>a{
	color: brown;
}
   #container>p{ /*&&&&7777*/
    float: right;
   }
#content>h4{
	background: gray;
	color:white;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;
}
#content>h2{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;
}
#content>a{
	color: brown;
	margin-left: 3px;
	margin-right: 3px;
}
#content p {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;
}
/*///////////////////////*/
#aside{
	text-align: center;
}
#aside .box>a{
	color: brown;
}
.box{
	border: 1px solid rgb(187, 180, 180);
}
.box>h4{
	margin-bottom: 5px;
	margin-top: 0;
	background: grey;
	color: white;
}
input[type="text"]{
	width: 130px;
}
#styles{
	border: 1px solid rgb(47, 165, 219);
	width: 100px;
	height: 30px;
	position: relative;
	left: 50px;
	top: 4px;
	color: aqua;
	text-align: auto;
	background: rgb(17, 224, 231);
	
}
td{
	font-size: 10px;
	margin: 0;
}
#nav>table>tbody>tr:first-child{
	color: brown;
}


