#container{
	border: 1px solid #12c9b9;
	width: 785px;
	height: 360px;
	margin: 5px;
	background:#024e4e;
	border-radius: 15px;
}
#top-line{
	background:#024e4e;
	height: 5px;
	width: 785px;
}


label{
	float: left;
	margin-left: 5px;
	margin-top: 15px;
	color: whitesmoke;
	font-weight: bolder;
	
}
body{
	background: #e6e4e4;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	
}


#top-menu{
	position: relative;
	width: 460px;
	height: 33px;
	display: table-cell;
	vertical-align: middle;
	background: #323030;
	background: -moz-linear-gradient(-90deg, #323030 10%, #534f4f 80%);
	background: -webkit-linear-gradient(-90deg, #323030 10%, #534f4f 80%);
	background: -o-linear-gradient(-90deg, #323030 10%, #534f4f 80%);
	border-radius:  0 0 3px 3px;
	padding: 0 7px;
	left: 5px;
	padding-bottom: 10px;
	vertical-align: middle;
}
#top-menu a {
	color:  #e6e4e4;
	margin:  0 6px;

}

#top-menu a:hover {
	text-decoration: underline;
}
.top-menu-line{
	width: 2px;
	height: 33px;
	background:#024e4e;
	display: inline-block; /*вводятся в строку и принимают параметры блока*/
	margin-bottom: -3px;

}

.column1{
display: inline-block;
width: 300px;
height: 300px;
position: relative;
bottom: 60px;

 
}
.column2{
display: inline-block;
width: 480px;
height: 300px;
margin-top: 10px;
margin-left:0;
}
img{
	width: 450px;
	height: 300px;
}
.list{
	display: inline-block;
	height: 50px;
	width: 300px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bolder;
	color: rgb(221, 207, 207);
	margin-left: 3px;

}
.list:hover{
	background: #12c9b9;
}
.column-line{
	background:#568682;
	height: 1px;
	width: 300px;
}
