body{
	background: gray;
}

input[type="email"] {
position: relative;
left: 350px;
}
input[type="text"]{
	position: relative;
	left: 320px;
}
button{
	position: relative;
	left: 380px;
}
label{
	position: relative;
	left: 300px;
	color: white;
	font-weight: bold;
}
#door{
	position: relative;
	left:280px;
	top: 15px;
}
#line{
	position: relative;
	left: 275px;
	top: 35px;
}
#info{
	position: relative;
	width: 800px;
	height: 300px;
	left: 270px;
}
#info>h1{
	color: orange;
} 
#info>p{
	color: whitesmoke;
}