
	.sublist  {
		display: none;
		color: gainsboro;
		text-decoration: none;
		list-style-type: none;
		
		
		} 
	 .list {
		list-style-type: none;

		
	}
	 .list >li:hover{
		text-decoration: underline;
		
	}
	 .list>li:hover> .sublist {   
		display: block;
		
	}
	  
	
