#block1{
	position: relative;
	width: 600px;
	height: 180px;
	border: 1px solid black;
	margin: auto;
	margin-top: 40px;
	background: white;
	
}
#block2{
	position: relative;
	width: 600px;
	height: 180px;
	border: 1px solid black;
	margin: auto;
	margin-top: 40px;
	background: white;
}
#block3{
	position: relative;
	width: 600px;
	height: 180px;
	border: 1px solid black;
	margin: auto;
	margin-top: 40px;
	background: white;
}
#mainBlock{
	border: 1px solid black;
	height: 700px;
	width: 800px;
	margin: auto;
	border-radius: 20px;
	background: gainsboro; 
}
label{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	position: relative;
    left: 20px;
    top: 20px;
}
.column1{
	display: inline-block;
	width: 39%;
}
.column2{
	float: right;
	display: inline-block;
	max-width: 59%;
	margin-top: 15px;
	font-size: 20px;
}
img{
	width: 200px;
	height: 150px;
	margin: 15px; 
}

.btn1{
	background-image:url('button.png');
	position: relative;
	left: 400px;
	top: -50px;
	width: 100px;
	height: 30px;
	color: white;
	}
.btn2{
background-image:url('button.png');
position: relative;
left: 400px;
top: -50px;
width: 80px;
height: 30px;
color: white;
}