fieldset{
	height: 100px;
	width: 200px;

}
/*div{
	width: 500px;
	height: 600px;
	border: 1px solid black;
}*/
body {
    font-family: Corbel, sans-serif;
    font-size: 1em;
}
 
.label1{
	position: relative;
	top: -20px;
	left: 20px;
}
.label2{
	position: relative;
	right: 50px;
}
/*.label3{
	position: relative;
	top:20px;
	right: 200px;

}*/
/*.label4{
	position: relative;
	top: 20px;
	right: 190px;;

}*/
.block1{
	float: left;
}
.block3{
float: left;
}
.block5{
	float: left;
}
/*.column-2 {
    padding: 100px 0;
    display: inline-block;
    width: 30%;
    vertical-align: top;
}*/
.column-2{
position: relative;
left: 500px;
bottom: 250px;
}