
#calculator {
	position: relative;
	border: 2px solid black;
	height: 500px;
	width: 505px;
	border-radius: 10px;
	background: rgb(211, 208, 208);
}
#inner {
    position: absolute;
	border: 2px solid black;
	height: 460px;
	width: 480px;
	margin: 30px 10px 10px 10px;
	background: rgb(209, 217, 226);
}


#tablo {
	border: 1px solid black;
	height: 50px;
	width: 465px;
	margin: 30px 5px 0;
}
#tablo>label{
	background: rgb(105, 172, 199);
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: right;
	vertical-align: bottom;
}

#values {
	height: 90px;
	width: 465px;
	margin: 10px 5px 0;
}
#values>table>tbody>tr:nth-child(odd){
	color: rgb(46, 46, 173);
}
#buttons {
	height: 255px;
	width: 370px;
	margin: 10px 0 5px 100px;
	
}


#catch {
	position: relative;
	height: 120px;
	width: 80px;
	bottom: 260px;
	left: 5px;
	color:  rgb(46, 46, 173);

}
#catch2 {
	position: relative;
	height: 120px;
	width: 80px;
	bottom: 250px;
	left: 5px;
    color:  rgb(46, 46, 173);

}
#values>table{
	margin: 0;
	width: 100%;
}
#buttons>table{
	width: 100%;
	text-align: center;
}


input[type="button"] {
	
  width: 35px;
  height: 35px;
}
input[type="button"]:hover{
	background: orange;
}

#same {
	width: 35px;
	height: 75px;
}
#numnul {
	width: 85px;
	height: 35px;
}
p{
	margin: 0;
}
.calculator{
position: absolute;
margin-top: 5px;
margin-left: 40px;

}
img {
	position: absolute;
	height: 25px;
	width: 20px;
	margin-left: 10px;S
}