body {
	background: rgb(54, 53, 53);
}


table>tbody>tr>td:nth-child(1) {
	color: aliceblue;
	font-style: italic;
	font-weight: bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

table>tbody>tr>td:nth-child(2)>label:last-of-type{
	color: red;
	font-weight: bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

table>tbody>tr>td:nth-child(2)>label:first-of-type{
box-align: right;

}
#lab {
	position: relative;
	left: 30px;
	color: gold;
}
.circle {
	width: 15px;
	height: 15px;
	background: greenyellow;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	left: 140px;
	bottom: 150px;
	}
	.gold {
		color: gold;
	}
	.orange {
		color: orange;
		font-weight: bold;
	}

	.grey {
		color: darkgray;
	}
	.tic {
	color: darkgrey;
	text-align: left;
	font-size: 20px;
	}