
*{
	margin: 0;
	padding: 0;
}
.dws-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.boxImg {
	position: relative;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	width: 450px;
	height: 280px;
	border: 5px outset yellow;
	overflow: hidden;

}

.boxImg img {
	height: 300px;
	transition: .5s;
}
.container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.container:before, .container:after{
	content: " ";
	width: 300px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	background: blue;
	opacity: .1;
	transition: 1s;
}

.container:before{
	transform: translateX(-125%) rotate(45deg);
}
.container:after{
	transform: translateX(195%) rotate(45deg);
}
.text {
	position: absolute;
	top: 20%;
	color: aqua;
	text-align: center;
	z-index: 10;
}
text h1 {
	margin-bottom: 20px;
	font-size: 30px;
	transform: scale(1);
	transition: .5s;
}
text p {
	font-size: 10px;
	margin: 0 100px;
	text-align: justify;
	transform: scale(2);
	transition: .5s;
}
P:first-line {
	color: red;
}
p.q:lang(fr) {
	quotes: "\00BB"; 
}
a.bt{
	position: absolute;
	top: 100%;
	left: 37%;
	color: beige;
	text-decoration: none;
	text-transform: uppercase;
	border: 2px solid blueviolet;
	padding: 10px 30px;
	border-radius: 8px;
	opacity: 0;
	transition: .2s ease-in-out;
	overflow: hidden;
}
a.bt:before{
	content: "";
	position: absolute;
	top: -8px;
	left: -75px;
	height: 50px;
	width: 50px;
	background: linear-gradient(90deg,rgba(255,255,255,1), rgba(255,255,255,5));
	transform: skew(-45deg);
}
a.bt:hover::before{
	left: 150px;
	transition: .5s ease-in-out;
}
a.bt:active{
	border: 2px solid rgb(114, 245, 6);
}
a.bt:visited {
	color: deeppink;
}
.boxImg:hover img {
	transform: rotate(-30deg) scale(2);
	filter: blur(2px);
	
}
.boxImg:hover a.bt{
	opacity: 1;
	transition: .5s;
}
.boxImg:hover .container::before{
	transform: translate(92%) rotate(45deg) scale(2);
	transition: .5s;
	opacity: .6;
}
.boxImg:hover .container::after{
	transform: translate(-23%) rotate(45deg) scale(2);
	transition: .5s;
	opacity: .6;
}
.boxImg:hover .text h1 {
	transform: scale(1)
}
.boxImg:hover .text p {
	transform: scale(1);
	opacity: 1;
}
.boxImg:hover {
	border: 5px inset gold;
}