
table{
	
	border-collapse: collapse;
}
td {
	border: 1px solid gray;
	border-collapse: collapse;
	
}
table>tbody>tr:nth-child(1) {
	background: lawngreen;
	color: white;
}

table>tbody>tr:nth-child(3) {
background: burlywood;
}

table>tbody>tr:nth-child(5) {
background :burlywood;
}


